// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

div#tag_list{font-size:12pt}#tags_ul{display:inline}#tags_ul li:last-child:after{content:""}#tags_ul li:after{content:", "}.tag_1{font-weight:200;font-size:10pt}.tag_2{font-weight:200;font-size:12pt}.tag_3{font-weight:300;font-size:14pt}.tag_4{font-weight:300;font-size:14pt}.tag_5{font-weight:400;font-size:16pt}.tag_6{font-weight:400;font-size:18pt}.tag_7{font-weight:700;font-size:18pt}.tag_8{font-weight:700;font-size:20pt}.tag_9{font-weight:900;font-size:22pt}.tag_10{font-weight:900;font-size:24pt}#tags_ul li{display:inline}.tag_page .tag_1{font-weight:200;font-size:12pt}.tag_page .tag_2{font-weight:200;font-size:14pt}.tag_page .tag_3{font-weight:300;font-size:16pt}.tag_page .tag_4{font-weight:300;font-size:18pt}.tag_page .tag_5{font-weight:400;font-size:20pt}.tag_page .tag_6{font-weight:400;font-size:22pt}.tag_page .tag_7{font-weight:700;font-size:24pt}.tag_page .tag_8{font-weight:700;font-size:26pt}.tag_page .tag_9{font-weight:900;font-size:28pt}.tag_page .tag_10{font-weight:900;font-size:30pt}.tag_page a{color:#666}

@font-face {
    font-family: 'ModernPictogramsNormal';
    src: url("/assets/fonts/modernpics-webfont.eot");
    src: url("/assets/fonts/modernpics-webfont.eot?#iefix") format("embedded-opentype"),url("/assets/fonts/modernpics-webfont.woff") format("woff"),url("/assets/fonts/modernpics-webfont.ttf") format("truetype"),url("/assets/fonts/modernpics-webfont.svg#ModernPictogramsNormal") format("svg");
    font-weight: normal;
    font-style: normal;
}
.icon:before {
    content: attr(data-icon);
    font-family: "ModernPictogramsNormal";
    font-weight: normal;
    margin-right: 5px;
}
.entry-content{
    text-align: justify;
}



article ul, article ol{
    padding-left: 50px;
}


